.tag {
  border-radius: 10px;
  border: 1px solid #C1C1CB;
  color: #9494A0;
  text-align: center;
  font-family: Futura PT;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  margin-top: 11px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 7px;
  padding-right: 7px;
  display: inline-block;
  margin-right: 5px;
}