.user {
  display: flex;
  padding: 15px 29px;
  position: relative;

  .logo {
    border-radius: 50%;
    object-fit: cover;
  }

  .info {
    margin-left: 11px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .personalData {
      display: flex;
    }

  }
  &:hover {
    background-color: #EFEFF6;
  }

  .name {
    color: #424F5E;
    font-family: Futura PT;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 111.111% */
    margin-right: 11px;
  }

  .notAuthorized {
    font-family: Futura PT;
    font-size: 18px;
    font-weight: 450;
    line-height: 20px;
    margin-right: 11px;
    color: #9494A0;
  }

  .email {
    color: #9494A0;
    font-family: Futura PT;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 111.111% */
  }

  .tags {
    display: flex;
  }
}

.ant-dropdown-menu-item {
  height: 35px;
  color: #424F5E;
  font-family: Futura PT;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px
}

.ant-modal-content {
  border-radius: 15px !important;
  width: 100%;
}

.permissions {
  display: flex;
  flex-direction: column;
  accent-color: #5856D6;
}

.checkbox {
  display: flex;
  padding-bottom: 11px;
}

.checkboxTitle {
  color: #424F5E;
  font-family: Futura PT;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin: unset;
  margin-left: 9px;
}

.userChange {
  position: absolute;
  right: 29px;
  cursor: pointer;
}


@media screen and (max-width: 500px){
  .user {
    display: flex;
    padding: 10px 15px;
    position: relative;
  
    .info {
      margin-left: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
  
      .personalData {
        display: flex;
        flex-direction: column;
        align-items: start;
      }
  
    }
    &:hover {
      background-color: #EFEFF6;
    }
  
    .name {
      font-family: Futura PT;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0em;
      text-align: left;
      color: #424F5E;
      font-style: normal;
      line-height: 20px; /* 111.111% */
      margin-right: 11px;
    }
  
    .notAuthorized {
      font-family: Futura PT;
      font-size: 14px;
      font-weight: 450;
      line-height: 20px;
      color: #9494A0;
    }
  
    .email {
      color: #9494A0;
      font-family: Futura PT;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 111.111% */
    }

    .tags {
      flex-wrap: wrap;
    }
  }

  .userChange {
    right: 15px;
  }
}