.team {
  width: 85%;
  height: 67%;
  background-color: #F9FAFB;
  border-radius: 15px;
  overflow: auto;
}

.ant-modal-footer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 400px){
  .team {
    width: 100%;
    height: 100%;
    border-radius: unset;
  } 
}