.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 29px; 

  .title {
    color: #424F5E;
    font-size: 26px;
    font-weight: 500;
  }
  
  .buttons {
    display: flex;

    &.fullWidth {
      width: 100%;
    }

    .addUser {
      border-radius: 10px;
      background: #32C076;
      border: none;
      padding-left: 14px;
      padding-right: 14px;
      cursor: pointer;

      .title {
        color: #F9FAFB;
        text-align: center;
        font-family: Futura PT;
        font-size: 18px;
        font-style: normal;
        font-weight: 450;
        line-height: 20px;
        white-space: nowrap;
        text-align: center;
      }
    }
  }

  border-bottom: 1px solid #EBEBF0;
}

.ant-select-selector {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.modalTitle {
  color: #424F5E;
  text-align: center;
  font-family: Futura PT;
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px; /* 129.412% */
  margin-top: 30px;
  margin-bottom: 17px;
}

.addUserModalBody {
  width: 404px;
}

.ant-modal-body {
  display: flex;
  justify-content: center;
}

.ant-modal-close {
  right: 25px;
  top: 18px;
}

@media screen and (max-width: 400px){
  .header {
    flex-direction: column;
    padding: 15px 15px; 
    border-bottom: none;

    .title {
      text-align: start;
      margin-bottom: 15px;
    }

    .buttons {
      flex-direction: column;

      .addUser {
        margin-top: 7px;
        padding-top: 7px;
        padding-bottom: 7px;

        .title {
          font-size: 16px;
        }
      }
    }
  }
}